body{
    text-align: center;
    font-family: "Roboto", sans-serif;
   
}
.main{
    width: 570px;
}
img{
    width: 200px ;
    height: 200px;
    border-radius: 50%;
    
}
.main{
    align-items: center;
   margin: 0 auto;
}
h1{
    font-weight: 300;
    font-size: 70px;
}
.bold{
    font-weight: bold;
}
h2{
    font-size: 60px;
    font-weight: 42;
}
h3{
    font-size: 36px;
}
p{
    font-size: 16px;
}
a{
    color: #99d930;
}
a:hover{
    color: #131313;
}
.a{
    background-color: #D7D7D7;
    padding: 100px 0;
}
.b{
    background-color: #FFEAEA;
    padding: 100px 0;
}
.c{
    background-color: #EAF9FF;
    padding: 100px 0;
}